/* Contact Page */
*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Navigation Anfang */

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* Navigation Ende */

h2 {
    text-align: center;
    margin: 50px;
    font-size: xx-large;
}

h3 {
    text-align: center;
    font-size: x-large;
}

p {

}

.container-personal{
    margin: 30px;
    background-color: #dddddd;
}
/* Columns Anfang */

.column {
    margin: auto;
    float: left;
    width: 33.33%;
    padding: 10px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Columns Ende */

/* Contact Info Anfang */

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover {
    opacity: 0.7;
}

.title {
    color: grey;
    font-size: 18px;
    text-align: center;
}

/* Contact Info Ende */

.footer {
    position: fixed;
    padding: 10px 10px 10px;
    font-size: small;
    text-align: center;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    background: grey;
}