*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #F6FFFF;
}

header {
    background-color: #236863;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Navigation Anfang */

.topnav {
    overflow: hidden;
    background-color: #122d2b;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #63D3CB;
    color: white;
}

.topnav a.active {
    background-color: #24aaa0;
    color: white;
}

/* Navigation Ende */

/* Fantasy Game */

.img {
    width: 400px;
    height: auto;
}

.container {
    padding: 20px;
    width: 600px;
    max-width: 80%;
    background-color: #C1F6CA;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px #074512;
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}


.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: #2B823A;
    border: 1px solid #17381D;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border: 1px solid;
}

.footer {
    position: fixed;
    padding: 10px 10px 10px;
    font-size: small;
    text-align: center;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    background: #236863;
    color: white;
}

.item {
    padding-top: 5px;
    padding-right: 3px;
    padding-bottom: 5px;
    padding-left: 8px;
}